<style>
    /* Full-width input fields */
    input[type=text],
    input[type=password] {
        width: 300px;
        padding: 12px 20px;
        margin: 9px 0;
        display: inline-block;
        box-sizing: border-box;
        color: #ADB5BD;
        border: 0;
        border-bottom: 1px solid #E9ECEF;
        font-size: 14px;
    }

    .sub-btn {
        background: #343A40;
        color: #FFFFFF;
        margin-top: 18px;
        margin-bottom: 23px;
        border: 0;
        width: 100%;
        padding: 12px;
        font-size: 14px;
    }

    .inv-btn {
        background-color: #fff;
        color: #212529;
        font-weight: 500;
        border: 1px solid #CED4DA;
        margin-bottom: 48px;
        width: 300px;
        height: 40px;
        opacity: 1;
        cursor: pointer;
        text-decoration: none;
        justify-content: center;
    }

    span.psw {
        float: right;
        padding-top: 20px;
    }
  .login-form {
    padding:87px 122px;
    width:300px;
    box-sizing:content-box !important;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .main-login {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #F8F9FA;
    justify-content: center;
    align-items: flex-start;
    padding-top: 122px;
  }
  .login-form-text {
    font-size:16px;
    margin-bottom:39px;
    margin-top:19px;
    max-width:300px;
    text-align: center;
  }
</style>
<script type="text/javascript">
  console.log({urlBase})
    const return_to = window.location.origin + "/pages/account";
    function validateForm(event) {
        event.preventDefault();
        var uname = document.forms["myForm"]["uname"].value;
        var psw = document.forms["myForm"]["psw"].value;
        if (uname == "") {
            alert("Email must be filled out");
            return false;
        }
        if (psw == "") {
            alert("Password must be filled out");
            return false;
        }
        fetch(`${urlBase}/auth/login`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ email: uname, password: psw, return_to })
        }).then(res => res.json()).then(res => {
            localStorage.setItem("accessToken", res.accessToken);
            accessToken = res.accessToken;
            if (res.accessToken) {
                window.location.replace(res.url);
            }
            document.getElementById('id01').style.display = 'none';
        })
    }
</script>

<div class="main-login">
    <form class="login-form" name="myForm" class="modal-content animate flex-col"
        onSubmit="return validateForm(event)">
        <div class="SF" style="font-size: 22px;">Book your appointment</div>
        <div class="login-form-text SF">
          Please sign in or create an account to secure your booking.
        </div>
        <input class="SF" type="text" placeholder="Email" name="uname" required>
        <input class="SF" type="password" placeholder="Password" name="psw" required>

        <button type="submit" class="sub-btn SF medium">SIGN IN</button>
        <span class="psw SF"><a href="#">Need a new password??</a></span>
        <hr>
        <a href="/pages/register" class="inv-btn SF medium flex-row">CREATE
            PROFILE
        </a>
      <img src="{{ '_ff-single.svg' | asset_url }}" class="signin-logo" alt="company-logo">
    
    </form>
</div>