<style>
  .cc-modal {
    opacity: 1;
    visibility: visible;
    z-index: 10000;
    overflow: hidden;
    height: 100vh;
    overflow-y: hidden;
    padding: 30px;
    position: fixed;
  }
  .cc-submit-btn, .cc-cancel-btn {
        padding: 12px;
        margin: 10px 0;
        width: 250px;
        cursor: pointer;
  }
    .cc-submit-btn {
        background-color: var(--unnamed-color-343a40);
        color: white;
        border: none;
        font-size: 17px;
    }

    .cc-cancel-btn {
      background-color: #fff;
      border: 1px solid #CED4DA;
      color: var(--unnamed-color-212529);
    }
  .cc-container {
    padding: 30px 50px;
    background-color: #fff;
  }
  .cc-label {
    font-size=:12px;
    color: var(--unnamed-color-ced4da);
  }
  .cc-input {
    color: var(--unnamed-color-495057);
  }
</style>
<!-- CC Modal -->
<div class="modal fade cc-modal" id="ccMe" tabindex="-1" role="dialog" aria-labelledby="ccMeLabel"
  style="opacity:1;visibility: hidden;">
  <div class="cc-container" style="width:100%;opacity:1;">
    <div style="color:var(unnamed-color-495057)">Payment</div>
    <div class="flex-row">
      <div class="flex-col" style="width:45%;align-items:flex-start;">
        <label for="cname" class="cc-label SF">Name on Card</label>
        <input type="text" class="cc-input" id="cname" name="cardname" placeholder="John More Doe" required>
    
        <label for="ccnum" class="cc-label SF">Credit card number</label>
        <input type="text" class="cc-input" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444" required>
    
        <label for="expmonth" class="cc-label SF">Exp Month</label>
        <input type="text" class="cc-input" id="expmonth" name="expmonth" placeholder="00" required>
    
        <label for="expyear" class="cc-label SF">Exp Year</label>
        <input type="text" class="cc-input" id="expyear" name="expyear" placeholder="0000" required>
      </div>
      <div class="flex-col" style="width:45%;align-items:flex-start;">
        <label for="adr" class="cc-label SF"><i class="fa fa-address-card-o"></i> Address</label>
        <input type="text" class="cc-input" id="adr" name="address" placeholder="Address">
    
        <label for="city" class="cc-label SF"><i class="fa fa-institution"></i> City</label>
        <input type="text" class="cc-input" id="city" name="city" placeholder="City">
    
        <label for="state" class="cc-label SF">State</label>
        <input type="text" class="cc-input" id="state" name="state" placeholder="State">
    
        <label for="zip" class="cc-label SF">Postal Code</label>
        <input type="text" class="cc-input" id="zip" name="zip" placeholder="Postal Code">
      </div>
    </div>
    <div class="flex-row" style="justify-content: space-between;width:100%;">
      <button type="cancel" class="cc-cancel-btn"s
        onclick="document.getElementById('ccMe').style.visibility='hidden';return false;">Cancel</button>
      <input type="submit" value="Save CC Info" class="cc-submit-btn" onclick="updateCC()">
    </div>
  </div>
</div>
<script type="text/javascript">
  function updateCC() {
    document.getElementById("loadMe").style.visibility = "visible";
    document.getElementById('ccMe').style.visibility = 'hidden';
    fetch(`${urlBase}/user/creditCard/`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        "authorization": `Bearer ${accessToken}`
      },
      body: JSON.stringify({
        "Address": document.getElementById("adr").value,
        "CardHolder": document.getElementById("cname").value,
        "City": document.getElementById("city").value,
        "ExpMonth": document.getElementById("expmonth").value,
        "ExpYear": document.getElementById("expyear").value,
        "CardNumber": document.getElementById("ccnum").value,
        "PostalCode": document.getElementById("zip").value,
        "State": document.getElementById("state").value
      })
    }).then((res) => res.json()).then((classes) => {
      getAccountData();
      document.getElementById("loadMe").style.visibility = "hidden";
    });
  }
</script>