<style>
    .signin-modal-title {
      font-size: 22px;
    }
    .signin-modal-input {
        padding: 12px 20px;
        display: inline-block;
        box-sizing: border-box;
        color: var(--unnamed-color-adb5bd) !important;
        border: 0 !important;
        border-bottom: 1px solid var(--unnamed-color-adb5bd) !important;
    }
    .signin-modal-input.filled {
        color: var(--unnamed-color-6c757d);
        border-bottom: 1px solid var(--unnamed-color-6c757d);
    }

    .signin-modal-sub-btn {
        width: 300px;
        height: 40px;
        opacity: 1;
        background: #343A40;
        color: #FFFFFF;
        margin-top: 28px;
        margin-bottom: 23px;
        border: 0;

    }

    .signin-modal-inv-btn {
        width: 300px;
        height: 40px;
        opacity: 1;
        background-color: #fff;
        color: #212529;
        font-weight: 500;
        border: 1px solid #CED4DA;
        margin-bottom: 48px;
    }

    .signin-modal-new-psw {
        float: right;
        padding-top: 16px;
        text-decoration: underline;
    }

    .signin-modal-hr {
        border: 0;
        clear: both;
        display: block;
        width: 100%;
        background-color: #E9ECEF;
        height: 1px;
        margin: 28px 0;
    }

    .signin-modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 10000;
        /* Sit on top */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
        justify-content: center;
        align-items: center;
    }

    .signin-modal-container {
        width: 536px;
        /* UI Properties */
        background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        opacity: 1;
        padding: 60px 0 46px;
        position: relative;
    }

    .signin-modal-content {
        margin: auto;
        /* Could be more or less, depending on screen size */
        box-sizing: content-box;
        width: 300px;
      
    }
    .signin-modal-text{
      font-size:16px;
      margin-bottom:34px;
      margin-top:11px;
      max-width:300px;
      text-align: center;
      display: none;
      color: var(--unnamed-color-212529);
    }
    .signin-modal-title{
      font-size:22px;
      max-width:300px;
      text-align: center;
      display: none;
    }
    .signin-modal-close-button {
      position: absolute;
      right: 25px;
      top: 23px;
      background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
      border: 1px solid #CFD4D9;
      opacity: 1;
      width: 40px;
      height: 40px;
      opacity: 0.3;
    }
    .signin-modal-close-button:before, .signin-modal-close-button:after {
      position: absolute;
      left: 19px;
      content: " ";
      height: 38px;
      width: 2px;
      background-color: #333;
    }
    .signin-modal-close-button:hover {
      opacity: 1;
    }
    .signin-modal-close-button:before {
      transform: rotate(45deg);
    }
    .signin-modal-close-button:after {
      transform: rotate(-45deg);
    }
  .sign-in-error {
    color: var(--unnamed-color-f54140);
    font-size: 12px;
  }
  .sign-in-helper{
    color: var(--unnamed-color-f54140);
    font-size: 12px;
    width: 100%;
  }
</style>

<script type="text/javascript">
  function openHeaderLoginModal(isBooking = false) {
    document.getElementById('signin-modal').style.display='flex';
    if (isBooking) {
       document.getElementById("signin-modal-title-booking").classList.add("show");
       document.getElementById("signin-modal-text-booking").classList.add("show");
       document.getElementById("signin-modal-title-user").classList.remove("show");
       document.getElementById("signin-modal-text-user").classList.remove("show");
      return;
    }
       document.getElementById("signin-modal-title-user").classList.add("show");
       document.getElementById("signin-modal-text-user").classList.add("show"); 
       document.getElementById("signin-modal-title-booking").classList.remove("show");
       document.getElementById("signin-modal-text-booking").classList.remove("show");   
  }
  function headerValidateForm() {
      event.preventDefault();
      document.getElementById("signin-modal-uname-helper").innerHTML = "";
      document.getElementById("signin-modal-psw-helper").innerHTML = "";
      document.getElementById("sign-in-error").innerHTML = "";
      var uname = document.forms["signin-myForm"]["uname"].value;
      var psw = document.forms["signin-myForm"]["psw"].value;
      if (!uname) {
        document.getElementById("signin-modal-uname-helper").innerHTML = "This field is required.";
      }
      if (!ValidateEmail(uname)) {
        document.getElementById("signin-modal-uname-helper").innerHTML = "Invalid email format.";
      }
      if (!psw) {
        document.getElementById("signin-modal-psw-helper").innerHTML = "This field is required.";
      }
      if(!uname || !psw || !ValidateEmail(uname)) {
        return;
      }
    
      document.getElementById("button-loading").disabled = true;
      document.getElementById("button-loading").classList.add("button--loading");
      if (uname == "") {
          alert("Name must be filled out");
          return false;
      }
      if (psw == "") {
          alert("Password must be filled out");
          return false;
      }
      document.getElementById("signin-loading").style.display = "block";
      document.getElementById('signin-nav').style.display='none';
      fetch(`${headerUrlBase}/auth/login`, {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json'
          },
          body: JSON.stringify({ email: uname, password: psw, return_to: window.location.href })
      }).then((response) => {
        if (response.status >= 400 && response.status < 600) {
          throw new Error("Bad response from server");
        }
        return response.json();
      }).then(res => {
          localStorage.setItem("accessToken", res.accessToken);
          accessToken = res.accessToken;
          const shopifyUrl = res.url;
          fetch(`${headerUrlBase}/user/account`, {
              method: 'GET',
              headers: {
                  'Content-Type': 'application/json',
                  "authorization": `Bearer ${res.accessToken}`
              },
          }).then(res => res.json()).then(res => {
              if (res.Membership.length === 0) {
                  localStorage.setItem('user', JSON.stringify({
                      name: `${res.FirstName} ${res.LastName}`,
                      membership: "Non-Member",
                  }));
              } else {
                  localStorage.setItem('user', JSON.stringify({
                      name: `${res.FirstName} ${res.LastName}`,
                      membership: res.Membership[0].Name,
                  }));
              }
              document.getElementById("myDropdown").classList.remove("show");
              document.getElementById('signin-modal').style.display = 'none';
              loggedIn = true;
              setHeader();
              window.location.replace(shopifyUrl);
              document.getElementById("button-loading").classList.remove("button--loading");
              document.getElementById("button-loading").disabled = false;
          })
      })
      .catch(() => {
        document.getElementById("signin-loading").style.display = "none";
        document.getElementById('signin-nav').style.display='block';
        document.getElementById("sign-in-error").innerHTML = "INVALID CREDENTIALS";
        document.getElementById("button-loading").classList.remove("button--loading");
        document.getElementById("button-loading").disabled = false;
      })
  }
  function createProfile() {
    document.getElementById('signin-modal').style.display='none';
    window.location.href = "/pages/register";
  }
</script>

<div id="signin-modal" class="signin-modal">
  <div class="signin-modal-container">
    <span onclick="document.getElementById('signin-modal').style.display='none'" class="signin-modal-close-button"></span>
  <form
    name="signin-myForm"
    class="signin-modal-content animate flex-col"
    onSubmit="return headerValidateForm()"
  >
    <div id="signin-modal-title-booking" class="signin-modal-title SF">Book your appointment</div>
    <div id="signin-modal-title-user" class="signin-modal-title SF">Sign In</div>
    <div id="signin-modal-text-booking" class="signin-modal-text">
      Please sign in or create an account to secure your booking.
    </div>
    <div id="signin-modal-text-user" class="signin-modal-text">WELCOME BACK</div>
    <input class="signin-modal-input SF" type="text" placeholder="Email" name="uname">
    <p id="signin-modal-uname-helper" class="sign-in-helper SF"></p>
    <input class="signin-modal-input SF" type="password" placeholder="Password" name="psw">
    <p id="signin-modal-psw-helper" class="sign-in-helper SF"></p>
    <div id="sign-in-error" class="sign-in-error SF"></div>
    {% render '_loading-button', id:"button-loading", text: "SIGN IN", class:"signin-modal-sub-btn SF medium" %}
    <span class="signin-modal-new-psw SF">Need a new password?</span>
    <hr class="signin-modal-hr">
    <button
      type="button"
      onclick="createProfile()"
      class="signin-modal-inv-btn SF"
    >
      CREATE PROFILE
    </button>
    <img src="{{ '_ff-single.svg' | asset_url }}" class="signin-logo" alt="company-logo">
    </div>
  </form>
</div>
