<div
     class="mobile10-slider-wrapper"
     data-section-type="mobile10-slider"
     data-section-id="{{ section.id }}"
     data-slider-dots="true">
  <ul id="Mobile10Slider-{{ section.id }}" class="mobile10-slider">
    {% for product in collections.treatments-moisturize.products %}
    <li class="essential-mobile10">
      {% include 'product-essential' %}
    </li>
    {% endfor %}
  </ul>
  <script>
  $( document ).ready(function() {
  	$('.mobile10-slider').slick({
      dots: true,
      infinite: true,
      slidesToShow: 3,
      slidesToScroll: 1,
      responsive: [
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 1
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
      ]
    });
  });
  </script>
</div>