<div
     class="mobile6-slider-wrapper"
     data-section-type="mobile6-slider"
     data-section-id="{{ section.id }}"
     data-slider-dots="true">
  <ul id="Mobile6Slider-{{ section.id }}" class="mobile6-slider">
    {% for product in collections.treatments-vitamin-c.products %}
    <li class="essential-mobile6">
      {% include 'product-essential' %}
    </li>
    {% endfor %}
  </ul>
  <script>
  $( document ).ready(function() {
  	$('.mobile6-slider').slick({
      dots: true,
      infinite: true,
      slidesToShow: 3,
      slidesToScroll: 1,
      responsive: [
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 1
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
      ]
    });
  });
  </script>
</div>