<div class="okeReviews-widget-holder" data-oke-reviews-widget-holder data-oke-reviews-product-id="shopify-{{ product.id }}">
<div data-oke-reviews-widget data-oke-reviews-collection-id="07773c85-ac52-4c5c-88a8-a2ddef76b431">
  <div data-oke-reviews-qanda></div>
</div>
