<!-- /templates/page.membership.liquid -->

<div class="wrapper page-margin">
  {% section 'membership-header' %}
  <div class="border-top"></div>
  {% section 'membership-double-1' %}
  <div class="border-top"></div>
  {% section 'membership-double-3' %}
  <div class="border-top"></div>
  {% section 'membership-double-2' %}
</div>
