<!-- /templates/page.locations.liquid -->

{% if page.url == '/pages/west-hollywood' %}

<div class="locations-banner">
{% section 'location-banner' %}
  <div class="locations-banner-text">
    <div class="mono" style="font-size:0.8rem">LOS ANGELES</div>
    <h1>Fig Bar WeHo<br>926 N. Sycamore Ave</h1>
    <h5 style="font-size:1.2rem;">Opening Winter 2022</h5>
  </div>
</div>
<br>

<div class="wrapper shortstack-widget">
<iframe allow="autoplay" sandbox="allow-modals allow-forms allow-scripts allow-same-origin allow-popups allow-top-navigation allow-top-navigation-by-user-activation allow-downloads allow-popups-to-escape-sandbox" id="GZFD4h" class="embed_frame" loading="lazy" src="https://m.shortstack.page/GZFD4h?embed=2" style="width: 100%; height: 2229px;" frameborder="0" allowpaymentrequest="" allowfullscreen="" data-hj-allow-iframe=""></iframe>
<script>// <![CDATA[
!function(){var e=document.getElementById("campaign-embed-code");e||((e=document.createElement("SCRIPT")).src="https://d1m2uzvk8r2fcn.cloudfront.net/scripts/embed-code/1640204595.min.js",e.id="campaign-embed-code",document.body.appendChild(e))}()
// ]]></script>
</div>


<!-- End of West Hollywood Start of Test -->

{% elsif page.url == '/pages/ambleside' %}
  <div class="locations-banner">
  {% section 'location-banner' %}
    <div class="locations-banner-text">
      <div class="mono" style="font-size:0.8rem">VANCOUVER</div>
      <h1>Fig Bar {{ page_title }}<br>1333 Bellevue Ave</h1>
      <h5 style="font-size:1.2rem;">Opening Fall 2022</h5>
    </div>
  </div>
  <br>

  <div class="wrapper shortstack-widget">
<iframe allow="autoplay" sandbox="allow-modals allow-forms allow-scripts allow-same-origin allow-popups allow-top-navigation allow-top-navigation-by-user-activation allow-downloads allow-popups-to-escape-sandbox" id="gVBXtD" class="embed_frame" loading="lazy" src="https://m.shortstack.page/gVBXtD?embed=2" style="width:100%;height:3303px" frameBorder="0" allowpaymentrequest allowfullscreen data-hj-allow-iframe></iframe><script>!function(){var e=document.getElementById("campaign-embed-code");e||((e=document.createElement("SCRIPT")).src="https://d1m2uzvk8r2fcn.cloudfront.net/scripts/embed-code/1640204595.min.js",e.id="campaign-embed-code",document.body.appendChild(e))}()</script>
    
    
  </div>

<!-- End of Ambleside -->

{% elsif page.url == '/pages/ossington' %}
  <div class="locations-banner">
  {% section 'location-banner' %}
    <div class="locations-banner-text">
      <div class="mono" style="font-size:0.8rem">TORONTO</div>
      <h1>Fig Bar {{ page_title }}<br>50 Ossington Ave</h1>
      <h5 style="font-size:1.2rem;">Opening Summer 2022</h5>
    </div>
  </div>
  <br>

  <div class="wrapper shortstack-widget">
   <iframe allow="autoplay" sandbox="allow-modals allow-forms allow-scripts allow-same-origin allow-popups allow-top-navigation allow-top-navigation-by-user-activation allow-downloads allow-popups-to-escape-sandbox" id="fnvjKG" class="embed_frame" loading="lazy" src="https://m.shortstack.page/fnvjKG?embed=2" style="width:100%;height:3275px" frameBorder="0" allowpaymentrequest allowfullscreen data-hj-allow-iframe></iframe><script>!function(){var e=document.getElementById("campaign-embed-code");e||((e=document.createElement("SCRIPT")).src="https://d1m2uzvk8r2fcn.cloudfront.net/scripts/embed-code/1640204595.min.js",e.id="campaign-embed-code",document.body.appendChild(e))}()</script>
  </div>

<!-- End of Ossington -->

{% elsif page.url == '/pages/name-of-page' %}

{% endif %}