<!-- /templates/page.liquid -->
<style>
  body {
    background-color: #EFF1F3 !important;
  }
  #shopify-section-footer {
    display: none;
  }
  .mbo-account iframe {
    margin-top: 40px;
    height: calc(100vh - 135px);
    width: 100%;
    border: none;
  }
</style>
<div class="mbo-account">
  <iframe border="0" src="https://cart.mindbodyonline.com/sites/75868/client/schedules" height="1000" width="100%"></iframe>
</div>
