<!-- /templates/giveaway-closed.liquid -->

<div class="header-wrapper-fig-bar">
  <div class="hero__description">
  	<h1 class="standard__heading"
        data-aos="hero">
      This giveaway has now closed
    </h1>
    <p>Thank you for entering.</p>
    <br>
    <a class="btn btn-shop" href="/collections/shop-all">SHOP NOW</a>  <a class="btn btn-book" href="appointments">BOOK NOW</a>
  </div>
</div>

<style>
a {text-decoration:none!important;}

  .btn-shop {color: #000;
    background-color: #5bcd58;
            border:1px solid black;
            margin-bottom:10px;}

  .btn-book {color: #000;
    background-color: #1ab25d;
border:1px solid black;
            margin-bottom:10px;}

             .btn:hover {
               color:#000;
               background-color:white;
             }

             
  }
  
</style>