<!-- /templates/page.liquid -->

<div class="wrapper no-padding">
  {% section 'what-to-expect-lead-in-1' %}
  {% section 'what-to-expect-lead-in-2' %}
  {% section 'what-to-expect-lead-in-3' %}
</div>

