<!-- /templates/giveaway.liquid -->

<style>
  .giveaway-form {
  width:35%;
  margin:0 auto;
  border:1px solid black;}


  @media only screen and (max-width: 780px) {
    
    .giveaway-form {
    width:100%;}
    
   </style>


<div class="giveaway-form klaviyo-form-WRCCHK"></div>