


@font-face {
  font-family: "Work Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/work_sans/worksans_n4.29e3afeb38a0ba35e784cf169a40e8beaf814daa.woff2?h1=ZmlnZmFjZS5jb20&h2=Zm9ybXVsYWZpZy5jb20&hmac=8533ead273f01b9dbdc49d5ad0c3f7a87ab4fa37693fe75f1af58a496085d2d9") format("woff2"),
       url("https://fonts.shopifycdn.com/work_sans/worksans_n4.e7c533c4afbed28070f6ac45dbcfe6f37840c0a8.woff?h1=ZmlnZmFjZS5jb20&h2=Zm9ybXVsYWZpZy5jb20&hmac=20d94e1eb15302089282e28e56682c1e0dcc8a94a252f94e8db33240099d6a7e") format("woff");
}

@font-face {
  font-family: "Work Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/work_sans/worksans_n4.29e3afeb38a0ba35e784cf169a40e8beaf814daa.woff2?h1=ZmlnZmFjZS5jb20&h2=Zm9ybXVsYWZpZy5jb20&hmac=8533ead273f01b9dbdc49d5ad0c3f7a87ab4fa37693fe75f1af58a496085d2d9") format("woff2"),
       url("https://fonts.shopifycdn.com/work_sans/worksans_n4.e7c533c4afbed28070f6ac45dbcfe6f37840c0a8.woff?h1=ZmlnZmFjZS5jb20&h2=Zm9ybXVsYWZpZy5jb20&hmac=20d94e1eb15302089282e28e56682c1e0dcc8a94a252f94e8db33240099d6a7e") format("woff");
}

@font-face {
  font-family: "Work Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/work_sans/worksans_n4.29e3afeb38a0ba35e784cf169a40e8beaf814daa.woff2?h1=ZmlnZmFjZS5jb20&h2=Zm9ybXVsYWZpZy5jb20&hmac=8533ead273f01b9dbdc49d5ad0c3f7a87ab4fa37693fe75f1af58a496085d2d9") format("woff2"),
       url("https://fonts.shopifycdn.com/work_sans/worksans_n4.e7c533c4afbed28070f6ac45dbcfe6f37840c0a8.woff?h1=ZmlnZmFjZS5jb20&h2=Zm9ybXVsYWZpZy5jb20&hmac=20d94e1eb15302089282e28e56682c1e0dcc8a94a252f94e8db33240099d6a7e") format("woff");
}



  @font-face {
  font-family: "Work Sans";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/work_sans/worksans_n5.6cde5c1d2c480f1062bb34a4ed95b947b1d9bee0.woff2?h1=ZmlnZmFjZS5jb20&h2=Zm9ybXVsYWZpZy5jb20&hmac=64669015ca738a77a610eb1ad59218823bd766f8ce97435f92e36c895bcddfa7") format("woff2"),
       url("https://fonts.shopifycdn.com/work_sans/worksans_n5.e4290375dc1b143844d0a460a29fd19c69d18b27.woff?h1=ZmlnZmFjZS5jb20&h2=Zm9ybXVsYWZpZy5jb20&hmac=094dc027a4d46999f5abe6ce6f7bb3206742e24f404525adf078b031623d252b") format("woff");
}




  @font-face {
  font-family: "Work Sans";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/work_sans/worksans_n5.6cde5c1d2c480f1062bb34a4ed95b947b1d9bee0.woff2?h1=ZmlnZmFjZS5jb20&h2=Zm9ybXVsYWZpZy5jb20&hmac=64669015ca738a77a610eb1ad59218823bd766f8ce97435f92e36c895bcddfa7") format("woff2"),
       url("https://fonts.shopifycdn.com/work_sans/worksans_n5.e4290375dc1b143844d0a460a29fd19c69d18b27.woff?h1=ZmlnZmFjZS5jb20&h2=Zm9ybXVsYWZpZy5jb20&hmac=094dc027a4d46999f5abe6ce6f7bb3206742e24f404525adf078b031623d252b") format("woff");
}




  @font-face {
  font-family: "Work Sans";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/work_sans/worksans_n5.6cde5c1d2c480f1062bb34a4ed95b947b1d9bee0.woff2?h1=ZmlnZmFjZS5jb20&h2=Zm9ybXVsYWZpZy5jb20&hmac=64669015ca738a77a610eb1ad59218823bd766f8ce97435f92e36c895bcddfa7") format("woff2"),
       url("https://fonts.shopifycdn.com/work_sans/worksans_n5.e4290375dc1b143844d0a460a29fd19c69d18b27.woff?h1=ZmlnZmFjZS5jb20&h2=Zm9ybXVsYWZpZy5jb20&hmac=094dc027a4d46999f5abe6ce6f7bb3206742e24f404525adf078b031623d252b") format("woff");
}








